<div id="content" class="container-fluid h-100 p-3 mb-3">

  <div class="col d-flex justify-content-between">

    <h1 class="display-4">Selamat Datang</h1>


    <div class="search">
      <i class="fad fa-search fa-2x"></i>
      <input placeholder="Search">
    </div>
  </div>

  <div class="col d-flex justify-content-between mb-3">

    <p class="h2 d-flex align-items-center m-0">Daftar Transaksi</p>

    <div class="search">
      <Button class="btn-next">Antrian Berikutnya</Button>
    </div>
  </div>

  <div class="col d-flex justify-content-center mb-3">

    <div class="card w-100">
      <div class="card-body">

        <h2 class="card-title">Card title</h2>

        <hr>

        <table class="table table-hover">
          <thead class="thead-custom">
            <tr>
              <th scope="col">Waktu</th>
              <th scope="col">Nomor Antrian</th>
              <th scope="col">Tipe Transaksi </th>
              <th scope="col">Nominal</th>
              <th scope="col">Pilihan</th>
              <th scope="col">Keterangan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

        <!-- <a href="#" class="btn btn-primary">Button</a> -->

      </div>
    </div>



  </div>


</div>
