<div id="title" mat-dialog-title>
  <ul class="container justify-content-center mb-0">
    <li class="list-inline-item row justify-content-center font-weight-bolder">PEMBUATAN REKENING BARU</li>
    <li class="list-inline-item row justify-content-center font-weight-bold">No Antrian 008</li>
  </ul>

  <div class="row justify-content-between pl-3 pr-3">
    <p class="h6 mb-0 font-weight-bold">Date</p>
    <p class="h6 mb-0 font-weight-bold">Time</p>
  </div>
  <div class="row justify-content-between pl-3 pr-3">
    <small class="text-justify">{{ dataLs.timestampentry | date: 'dd/MM/yyyy' }}</small>
    <small class="text-justify">{{ dataLs.timestampentry | date: ' h:mm:ss a' }}</small>
  </div>

</div>

<div id="nik" class="form-group row">
  <label class="col-sm-2 col-form-label font-weight-bold">NIK</label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="nik">
  </div>
  <div class="col-sm-2">
    <button mat-button class="btn-retrieve">Retrieve</button>
  </div>
</div>


<form [formGroup]="productInfo">
  <div id="line1" class="row justify-content-center mb-3">
    <p class="h6 pt-1 mb-0 ">Info Produk</p>
  </div>

  <div *ngFor="let item of productInfo.controls | keyvalue" class="form-group row mb-1">
    <label *ngIf="item.key === 'email'" class="col-sm-2 col-form-label font-weight-bold">Email</label>
    <label *ngIf="item.key === 'tipeKartu'" class="col-sm-2 col-form-label font-weight-bold">Tipe Kartu</label>
    <label *ngIf="item.key === 'produk'" class="col-sm-2 col-form-label font-weight-bold">Produk</label>
    <label *ngIf="item.key === 'tujuan'" class="col-sm-2 col-form-label font-weight-bold">Tujuan</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" formControlName="{{item.key}}">
    </div>
  </div>
</form>

<form [formGroup]="dataPemohon">
  <div id="line1" class="row justify-content-center mb-3">
    <p class="h6 pt-1 mb-0 ">Data Pemohon</p>
  </div>

  <ng-container *ngFor="let item of dataPemohon.controls | keyvalue">

    <div *ngIf="item.key ==='identitas'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Identitas yang Digunakan </label>
      <div class="col-sm-6 col-form-label">
        :
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="inlineRadio1" value="ktp"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="inlineRadio1">KTP</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="inlineRadio2" value="passpor"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="inlineRadio2">Passpor</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="inlineRadio3" value="lainnya"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="inlineRadio3">Lainnya</label>
        </div>
      </div>
    </div>

    <div *ngIf="item.key ==='noIdentitas'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">No Identitas</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="noIdentitas">
      </div>
    </div>

    <div *ngIf="item.key ==='namaLengkap'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Nama Lengkap</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="namaLengkap">
      </div>
    </div>

    <div *ngIf="item.key ==='namaIbu'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Nama Ibu</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="namaIbu">
      </div>
    </div>

    <div *ngIf="item.key ==='noHandphone'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">No Handphone</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="noHandphone">
      </div>
    </div>

    <div *ngIf="item.key ==='noNpwp'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">No NPWP</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="noNpwp">
      </div>
    </div>

    <div *ngIf="item.key ==='alamat'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Alamat (Sesuai Identitas)</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="alamat">
      </div>
    </div>


    <div *ngIf="item.key === 'noRt'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">RT/RW</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="noRt">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="noRw">
      </div>
      <label class="col-sm-2 col-form-label font-weight-bold">Kodepos</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="kodePos">
      </div>
    </div>


    <div *ngIf="item.key ==='provinsi'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Provinsi</label>
      <div class="col-sm-4">
        <select (change)="onChangeProv(dataPemohon, 'provinsi', 1)" class="form-control option"
          formControlName="provinsi">
          <option *ngFor='let prv of province' [selected]="prv.id === item.value" [value]="prv.id">{{prv.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kota/Kab.</label>
      <div class="col-sm-4">
        <select (change)="onChangeCity(dataPemohon, 'kabupaten', 1)" class="form-control option"
          formControlName="kabupaten">
          <option *ngFor='let ct of kabkot' [selected]="ct.id === item.value" [value]="ct.id">{{ct.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kecamatan</label>
      <div class="col-sm-4">
        <select (change)="onChangeDist(dataPemohon, 'kecamatan', 1)" class="form-control option"
          formControlName="kecamatan">
          <option *ngFor='let kc of dataKec' [selected]="kc.id === item.value" [value]="kc.id">{{kc.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kelurahan</label>
      <div class="col-sm-4">
        <select (change)="onChangeVill(dataPemohon, 'kelurahan', 1)" class="form-control option"
          formControlName="kelurahan">
          <option *ngFor='let kl of dataKel' [selected]="kl.id === item.value" [value]="kl.id">{{kl.nama}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="item.key ==='telpRumah'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Telp Rumah</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="telpRumah">
      </div>
    </div>

    <div *ngIf="item.key ==='alamatDomisili'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Alamat Domisili</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="alamatDomisili">
      </div>
    </div>

    <div *ngIf="item.key ==='provinsiDomisili'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Provinsi Domisili</label>
      <div class="col-sm-4">
        <select (change)="onChangeProv(dataPemohon, 'provinsiDomisili', 2)" class="form-control option"
          formControlName="provinsiDomisili">
          <option value="">Select a category</option>
          <option *ngFor='let prv of province' [selected]="prv.id === item.value" [value]="prv.id">{{prv.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kota/Kab. Domisili</label>
      <div class="col-sm-4">
        <select (change)="onChangeCity(dataPemohon, 'kabupatenDomisili', 2)" class="form-control option"
          formControlName="kabupatenDomisili">
          <option value="">Select a category</option>
          <option *ngFor='let ct of kabkot2' [selected]="ct.id === item.value" [value]="ct.id">{{ct.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kecamatan Domisili</label>
      <div class="col-sm-4">
        <select (change)="onChangeDist(dataPemohon, 'kecamatanDomisili', 2)" class="form-control option"
          formControlName="kecamatanDomisili">
          <option value="">Select a category</option>
          <option *ngFor='let kc of dataKec2' [selected]="kc.id === item.value" [value]="kc.id">{{kc.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kelurahan Domisili</label>
      <div class="col-sm-4">
        <select (change)="onChangeVill(dataPemohon, 'kelurahanDomisili', 2)" class="form-control option"
          formControlName="kelurahanDomisili">
          <option value="">Select a category</option>
          <option *ngFor='let kl of dataKel2' [selected]="kl.id === item.value" [value]="kl.id">{{kl.nama}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="item.key ==='telpDomisili'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Telp Rumah Domisili</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="telpDomisili">
      </div>
    </div>

    <div *ngIf="item.key ==='tempatLahir'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Tempat Lahir</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" formControlName="tempatLahir">
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Tanggal Lahir</label>
      <div class="col-sm-3 d-flex align-items-center">
        <input type="text" class="form-control" formControlName="tanggalLahir" [matDatepicker]="picker">
      </div>
      <div class="col-sm-1">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <!-- <button (click)="test()">TEST</button> -->
    </div>

    <div *ngIf="item.key ==='kewarganegaraan'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Kewarganegaraan </label>
      <div class="col-sm-6 col-form-label">
        :
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="kewarganegaraanRadio1" value="1"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="kewarganegaraanRadio1">WNI</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="kewarganegaraanRadio2" value="0"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="kewarganegaraanRadio2">WNA</label>
        </div>
      </div>
    </div>

    <div *ngIf="item.key ==='jenisKelamin'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Jenis Kelamin </label>
      <div class="col-sm-6 col-form-label">
        :
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="jenisKelaminRadio1" value="0"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="jenisKelaminRadio1">Pria</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="jenisKelaminRadio2" value="1"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="jenisKelaminRadio2">Wanita</label>
        </div>
      </div>
    </div>

    <div *ngIf="item.key ==='agama'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Agama</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="agama">
      </div>
    </div>

    <div *ngIf="item.key ==='pendidikan'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Pendidikan</label>
      <div class="col-sm-4">
        <select class="form-control option" formControlName="pendidikan">
          <option value="">Select a category</option>
          <option *ngFor='let edu of dataEdu' [selected]="edu.id === item.value" [value]="edu.id">{{edu.name}}
          </option>
        </select>
      </div>
    </div>

  </ng-container>
</form>

<form [formGroup]="dataPekerjaan">
  <div id="line1" class="row justify-content-center mb-3">
    <p class="h6 pt-1 mb-0 ">Data Pekerjaan</p>
  </div>

  <ng-container *ngFor="let item of dataPekerjaan.controls | keyvalue">


    <div *ngIf="item.key == 'pekerjaan'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Pekerjaan</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key == 'namaKantor'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Nama Kantor</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key == 'jabatan'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Jabatan</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key == 'alamat'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Alamat (kantor)</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key === 'noRtKantor'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">RT/RW</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="noRtKantor">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="noRwKantor">
      </div>
      <label class="col-sm-2 col-form-label font-weight-bold">Kodepos</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="kodePos">
      </div>
    </div>


    <div *ngIf="item.key ==='provinsi'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Provinsi</label>
      <div class="col-sm-4">
        <select (change)="onChangeProv(dataPekerjaan, 'provinsi', 3)" class="form-control option"
          formControlName="provinsi">
          <option value="">Select a category</option>
          <option *ngFor='let prv of province' [selected]="prv.id === item.value" [value]="prv.id">{{prv.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kota/Kab.</label>
      <div class="col-sm-4">
        <select (change)="onChangeCity(dataPekerjaan, 'kabupaten', 3)" class="form-control option"
          formControlName="kabupaten">
          <option value="">Select a category</option>
          <option *ngFor='let ct of kabkot3' [selected]="ct.id === item.value" [value]="ct.id">{{ct.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kecamatan</label>
      <div class="col-sm-4">
        <select (change)="onChangeDist(dataPekerjaan, 'kecamatan', 3)" class="form-control option"
          formControlName="kecamatan">
          <option value="">Select a category</option>
          <option *ngFor='let kc of dataKec3' [selected]="kc.id === item.value" [value]="kc.id">{{kc.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kelurahan</label>
      <div class="col-sm-4">
        <select (change)="onChangeVill(dataPekerjaan, 'kelurahan', 3)" class="form-control option"
          formControlName="kelurahan">
          <option value="">Select a category</option>
          <option *ngFor='let kl of dataKel3' [selected]="kl.id === item.value" [value]="kl.id">{{kl.nama}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="item.key == 'sumber'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Sumber Gaji</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key ==='penghasilan'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Penghasilan </label>
      <div class="col-sm-6 col-form-label">
        :
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="penghasilanRadio1" value="1"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="penghasilanRadio1">&le; 5 Juta</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="penghasilanRadio2" value="2"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="penghasilanRadio2">5 - 10 Juta</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="penghasilanRadio3" value="3"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="penghasilanRadio3">&ge; 10 Juta </label>
        </div>
      </div>
    </div>

    <div *ngIf="item.key ==='penghasilanLain'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Penghasilan Lainnya</label>
      <div class="col-sm-6 col-form-label">
        :
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="penghasilanLainRadio1" value="1"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="penghasilanLainRadio1">&le; 5 Juta</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="penghasilanLainRadio2" value="2"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="penghasilanLainRadio2">5 - 10 Juta</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{item.key}}" id="penghasilanLainRadio3" value="3"
            formControlName="{{item.key}}">
          <label class="form-check-label" for="penghasilanLainRadio3">&ge; 10 Juta </label>
        </div>
      </div>
    </div>
  </ng-container>
</form>

<form [formGroup]="dataKerabat">
  <div id="line1" class="row justify-content-center mb-3">
    <p class="h6 pt-1 mb-0 ">Data Kerabat dan Ahli Waris</p>
  </div>

  <ng-container *ngFor="let item of dataKerabat.controls | keyvalue">

    <div *ngIf="item.key == 'namaKerabat'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Nama Kerabat</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key == 'alamatKerabat'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Alamat Kerabat</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key == 'telpKerabat'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Telp Kerabat</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key === 'noRtKerabat'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">RT/RW</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="noRtKerabat">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="noRwKerabat">
      </div>
      <label class="col-sm-2 col-form-label font-weight-bold">Kodepos</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="kodePosKerabat">
      </div>
    </div>

    <div *ngIf="item.key ==='provinsiKerabat'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Provinsi <span
          class="text-muted">(*Kerabat)</span></label>
      <div class="col-sm-4">
        <select (change)="onChangeProv(dataKerabat, 'provinsiKerabat', 4)" class="form-control option"
          formControlName="provinsiKerabat">
          <option value="">Select a category</option>
          <option *ngFor='let prv of province' [selected]="prv.id === item.value" [value]="prv.id">{{prv.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kota/Kab. <span
          class="text-muted">(*Kerabat)</span></label>
      <div class="col-sm-4">
        <select (change)="onChangeCity(dataKerabat, 'kabupatenKerabat', 4)" class="form-control option"
          formControlName="kabupatenKerabat">
          <option value="">Select a category</option>
          <option *ngFor='let ct of kabkot4' [selected]="ct.id === item.value" [value]="ct.id">{{ct.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kecamatan <span
          class="text-muted">(*Kerabat)</span></label>
      <div class="col-sm-4">
        <select (change)="onChangeDist(dataKerabat, 'kecamatanKerabat', 4)" class="form-control option"
          formControlName="kecamatanKerabat">
          <option value="">Select a category</option>
          <option *ngFor='let kc of dataKec4' [selected]="kc.id === item.value" [value]="kc.id">{{kc.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kelurahan <span
          class="text-muted">(*Kerabat)</span></label>
      <div class="col-sm-4">
        <select (change)="onChangeVill(dataKerabat, 'kelurahanKerabat', 4)" class="form-control option"
          formControlName="kelurahanKerabat">
          <option value="">Select a category</option>
          <option *ngFor='let kl of dataKel4' [selected]="kl.id === item.value" [value]="kl.id">{{kl.nama}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="item.key == 'namaAhliWaris'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Nama Ahli Waris</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key == 'alamatAhliWaris'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Alamat Ahli Waris</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key == 'telpAhliWaris'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Telp Ahli Waris</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="{{ item.key }}">
      </div>
    </div>

    <div *ngIf="item.key === 'noRtAhliWaris'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">RT/RW</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="noRtAhliWaris">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="noRwAhliWaris">
      </div>
      <!-- <label class="col-sm-2 col-form-label font-weight-bold">Kodepos</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="kodePosKerabat">
      </div> -->
    </div>

    <div *ngIf="item.key ==='provinsiAhliWaris'" class="form-group row mb-1">
      <label class="col-sm-2 col-form-label font-weight-bold">Provinsi <span class="text-muted">(*Ahli
          Waris)</span></label>
      <div class="col-sm-4">
        <select (change)="onChangeProv(dataKerabat, 'provinsiAhliWaris', 5)" class="form-control option"
          formControlName="provinsiAhliWaris">
          <option value="">Select a category</option>
          <option *ngFor='let prv of province' [selected]="prv.id === item.value" [value]="prv.id">{{prv.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kota/Kab. <span class="text-muted">(*Ahli
          Waris)</span></label>
      <div class="col-sm-4">
        <select (change)="onChangeCity(dataKerabat, 'kabupatenAhliWaris', 5)" class="form-control option"
          formControlName="kabupatenAhliWaris">
          <option value="">Select a category</option>
          <option *ngFor='let ct of kabkot5' [selected]="ct.id === item.value" [value]="ct.id">{{ct.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kecamatan <span class="text-muted">(*Ahli
          Waris)</span></label>
      <div class="col-sm-4">
        <select (change)="onChangeDist(dataKerabat, 'kecamatanAhliWaris', 5)" class="form-control option"
          formControlName="kecamatanAhliWaris">
          <option value="">Select a category</option>
          <option *ngFor='let kc of dataKec5' [selected]="kc.id === item.value" [value]="kc.id">{{kc.nama}}</option>
        </select>
      </div>

      <label class="col-sm-2 col-form-label font-weight-bold">Kelurahan <span class="text-muted">(*Ahli
          Waris)</span></label>
      <div class="col-sm-4">
        <select (change)="onChangeVill(dataKerabat, 'kelurahanAhliWaris', 5)" class="form-control option"
          formControlName="kelurahanAhliWaris">
          <option value="">Select a category</option>
          <option *ngFor='let kl of dataKel5' [selected]="kl.id === item.value" [value]="kl.id">{{kl.nama}}</option>
        </select>
      </div>
    </div>


  </ng-container>
</form>

<mat-dialog-content class="mat-typography">



</mat-dialog-content>

<mat-dialog-actions class="justify-content-center">
  <div class="container-fluid justify-content-between d-flex m-0">
    <button class="batal" mat-button mat-dialog-close>Batal</button>
    <button class="skip" mat-button mat-dialog-close>Skip</button>
  </div>
  <button class="proses" mat-button mat-dialog-close>Selesai</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>





<!-- <div class="form-group row">
      <label class="col-sm-4 col-form-label font-weight-bold">Identitas yang Digunakan </label>
      <div class="col-sm-8 col-form-label">
        :
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">KTP</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Passpor</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Lainnya</label>
        </div>
      </div>
    </div> -->
