<mat-dialog-content>

  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0 p-0 labelText">Add New User</h3>
    </div>
    <div class="card-body">

      <mat-horizontal-stepper [linear]="isLinear" #stepper>


        <mat-step [completed]="userNameControl" [editable]="isUserNameDone" state="done">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Check UserName </ng-template>
            <!-- username input -->
            <mat-form-field class="fullWidth">
              <mat-label>UserName</mat-label>
              <input matInput placeholder="userName" formControlName="userName" maxlength="10" required [readonly]="isFirstGroupValid" cdkFocusInitial>
              <mat-error *ngIf="firstFormGroup.controls.userName.invalid">
                Minimal 5 Karakter
              </mat-error>
            </mat-form-field>
            <p class="text-danger textError" *ngIf="isUsed">Username Sudah Terpakai</p>
            <!-- username input -->

            <!-- password 1 -->
            <mat-form-field class="fullWidth">
              <mat-label>Password</mat-label>
              <input matInput placeholder="userName" maxlength="15" formControlName="password"
                [type]="hide ? 'text' : 'password'" [readonly]="isFirstGroupValid" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="firstFormGroup.controls.userName.invalid">
                Minimal 8 Karakter
              </mat-error>
            </mat-form-field>
            <!-- password 1 -->

            <!-- password 2 -->
            <mat-form-field class="fullWidth">
              <mat-label>Konfirmasi Ulang Password</mat-label>
              <input matInput placeholder="userName" maxlength="15" formControlName="password2"
                [type]="hide1 ? 'text' : 'password'" (keyup)="passwordChange()" [readonly]="isFirstGroupValid" required>
              <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="firstFormGroup.controls.userName.invalid">
                Minimal 8 Karakter
              </mat-error>
            </mat-form-field>
            <mat-error class="textError mt-0 p-0" *ngIf="!isPasswordSame">
              Password Tidak Sama
            </mat-error>
            <!-- password 2 -->

            <mat-form-field class="fullWidth">
              <mat-label>Role</mat-label>
              <mat-select formControlName="roles" placeholder="Pilih Roles">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of roles" value="{{item.value}}">{{item.role}}</mat-option>
              </mat-select>

              <mat-error *ngIf="firstFormGroup.controls.roles.invalid">
                Pilih Cabang
              </mat-error>
            </mat-form-field>




            <!--button-->
            <div class="mt-2">
              <button mat-raised-button color="primary" (click)="userNameCheck()"
                *ngIf="!userNameControl">Check</button>
              <button mat-raised-button color="primary" (click)="next(stepper)"
                *ngIf="userNameControl">Selanjutnya</button>
            </div>
            <!-- button -->
          </form>
        </mat-step>



        <!-- <mat-step [completed]="userDataControl" [editable]="isUserDataDone"> -->
          <!-- <mat-step [completed]="userDataControl" [editable]="isUserDataDone" state="done">
          <form [formGroup]="userDataForm">
            <ng-template matStepLabel>Data User</ng-template>
            <mat-form-field class="fullWidth">
              <mat-label>Nama Depan</mat-label>
              <input matInput placeholder="Nama Depan" formControlName="firstName" maxlength="25" required>
              <mat-error *ngIf="userDataForm.controls.firstName.invalid">
                Nama Depan Invalid, Input Minimal 3 Karakter
              </mat-error>
            </mat-form-field>
            <mat-form-field class="fullWidth">
              <mat-label>Nama Belakang</mat-label>
              <input matInput placeholder="Nama Belakang" formControlName="lastName" maxlength="25" required>
              <mat-error *ngIf="userDataForm.controls.lastName.invalid">
                Nama Belakang Invalid, Input Minimal 3 Karakter
              </mat-error>
            </mat-form-field>
            <mat-form-field class="fullWidth">
              <mat-label>Tanggal Lahir</mat-label>
              <input matInput placeholder="Select Date" (focus)="datepickerRef.open()" [matDatepicker]="datepickerRef"
                formControlName="birthDay" required readonly />
              <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #datepickerRef></mat-datepicker>
              <mat-error *ngIf="userDataForm.controls.birthDay.invalid">
                Inputkan Tanggal Lahir
              </mat-error>
            </mat-form-field>
            <mat-form-field class="fullWidth">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" maxlength="50">
              <mat-error *ngIf="userDataForm.controls.email.invalid">
                Email Invalid
              </mat-error>
            </mat-form-field>

            <mat-form-field class="fullWidth">
              <mat-label>Cabang</mat-label>
              <mat-select [(value)]="selected" formControlName="branchCode">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of branchData" value="{{item.branchcode}}">{{item.branchcode}} -
                  {{item.description}}</mat-option>
              </mat-select>
              <mat-error *ngIf="userDataForm.controls.branchCode.invalid">
                Pilih Cabang
              </mat-error>
            </mat-form-field>

            <mat-checkbox class="mt-2" formControlName="enabled">Enabled</mat-checkbox>

            <div class="mt-3">
              <button mat-raised-button color="primary" matStepperNext (click)="userDataFormNext(stepper)"
                *ngIf="userDataForm.valid">Selanjutnya</button>
                <button mat-raised-button color="accent" (click)="move(2)">4th</button>
            </div>
          </form>
        </mat-step> -->

        <mat-step label="Step 4">
          Step 4
          </mat-step>


        <ng-template matStepperIcon="done">
          <mat-icon>done</mat-icon>
        </ng-template>


      </mat-horizontal-stepper>


    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="justify-content-center">
  <div class="button_cont">
    <button mat-raised-button [mat-dialog-close]="true" (click)="close()" color="warn">Batal</button>
  </div>
</mat-dialog-actions>


<!-- https://stackblitz.com/edit/angular-demo-matstepper-move -->