<div mat-dialog-title>
  <ul class="container justify-content-center mb-0">
    <li class="list-inline-item row justify-content-center">
      <img id="logoQue" src="./assets/svgs/logo-blue.svg" alt="">
    </li>
    <li class="list-inline-item row justify-content-center">034 - Cabang Utama</li>
    <li class="list-inline-item row justify-content-end align-items-center">
      <i (click)="closeQDialog()" id="mini" class="fad fa-compress-alt ml-3 fa-2x"></i> </li>
  </ul>
</div>
<mat-dialog-content class="mat-typography">

  <div class="form-group row mb-0 ml-1 mr-1">
    <label class="col-sm-6 col-form-label font-weight-bold p-0">Date</label>
    <div class="col-sm-6 text-right p-0">
      <label class="font-weight-bold">Time</label>
    </div>
  </div>


  <div class="form-group row mb-0 ml-1 mr-1">
    <label class="col-sm-6 col-form-label font-weight-normal p-0">01 JAN 2020</label>
    <div class="col-sm-6 text-right p-0">
      <label class="font-weight-normal">13:45</label>
    </div>
  </div>

  <div class="form-group row ml-1 mr-1 align-items-center main-list pt-2 pb-2">
    <h2 class="h4 mb-0 col-sm-6 col-form-label font-weight-bold p-0 text-left ">Ringkasan Transaksi</h2>
    <h2 class="h4 mb-0 col-sm-6 col-form-label font-weight-bold p-0 text-right">{{ noQ }}</h2>
  </div>

  <div class="row">
    <div class="col-8 col-md-8">
      <p class="h6 ml-1 mr-1">Data Nasabah</p>
      <div class="container-fluid d-flex justify-content-between">
        <div class="col text-center">
          <img src="../../../assets/png/avatar.png" alt="..." class="img-thumbnail rounded">
          <p class="text-center font-weight-bold">Foto Nasabah</p>
        </div>
        <div class="col text-center">
          <img src="../../../assets/png/signature.png" alt="..." class="img-thumbnail retangle">
          <p class="text-center font-weight-bold">Tanda Tangan Nasabah</p>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-4 text-center">
      <button class="col-12 btn-nasabah mb-2 mt-2"><i class="fad fa-plus mr-3"></i><span class="align-items-center">Foto
          Nasabah</span></button>
      <button class="col-12 btn-nasabah mb-2 mt-2">SCAN TTD/ Surat Kuasa</button>
    </div>
  </div>

  <div class="form-group row mb-0">
    <label class="col-sm-2 col-form-label font-weight-bold align-items-center d-flex justify-content-between">Nama <span
        class="text-right">:</span></label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext col-6" id="nameName" value="John Lennon">
    </div>
  </div>

  <hr class="m-3">

  <form [formGroup]="formGroup">
    <mat-horizontal-stepper formArrayName="form">
      <ng-container>
        <mat-step [completed]="true" [formGroupName]="i"
          *ngFor="let env of formGroup.controls.form.controls; let i = index">
          <ng-container *ngFor="let a of env.controls | keyvalue">
            <ng-template *ngIf="a.key === 'Tipe'" matStepLabel>{{a.value.value }} </ng-template>
          </ng-container>

          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [aria-labelledby]="stepDisabled ? 'disabled_Resi' : null" [stepControl]="1">
              <ng-template matStepLabel>Check Transaction {{i + 1}}</ng-template>

              <!-- Step 1 Check Transaction -->
              <div *ngFor="let a of env.controls | keyvalue" class="form-group row">
                <ng-container *ngIf="a.key ==='TransaksiId'">
                  <label
                    class="col-sm-3 col-form-label font-weight-bold align-items-center d-flex justify-content-between">Transaksi
                    Id
                    <span class="text-right">:</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control-plaintext col-6" formControlName="{{ a.key }}">
                  </div>
                </ng-container>

                <ng-container *ngIf="a.key !=='TransaksiId'">
                  <label
                    class="col-sm-3 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ a.key }}
                    <span class="text-right">:</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control-plaintext col-6" formControlName="{{ a.key }}">
                  </div>
                </ng-container>
              </div>

              <div class="d-flex justify-content-between">
                <button (click)="transactionCancel(i, env.controls)" mat-button>Batal</button>
                <button (click)="transactionProcess(env.controls)" mat-button matStepperNext>Proses</button>
              </div>
            </mat-step>
            <mat-step [aria-labelledby]="stepDisabled ? 'disabled_Resi' : null" [stepControl]="2">
              <ng-template matStepLabel>Prosses Transaction {{i + 1}}</ng-template>

              <!-- *ngIf="isProsses" -->
              <div *ngIf="isProsses" class="d-flex align-items-center" style="min-height: 100px;">
                <p class="h2 mr-3">Data sedang diproses</p>
                <div class="LoaderBalls">
                  <div class="LoaderBalls__item"></div>
                  <div class="LoaderBalls__item"></div>
                  <div class="LoaderBalls__item"></div>
                </div>
              </div>

              <div *ngIf="isSuccess" class="success-checkmark align-items-center d-flex">
                <div class="check-icon">
                  <span class="icon-line line-tip"></span>
                  <span class="icon-line line-long"></span>
                  <div class="icon-circle"></div>
                  <div class="icon-fix"></div>
                </div>
                <p class="h2 m-0 ml-3 text-success">Transaksi Sukses</p>
              </div>

              <div *ngIf="isError" class="d-flex align-items-center" style="min-height: 100px;">
                <div class="alert alert-danger mb-0" role="alert">
                  <i class="fad fa-exclamation-triangle"></i> Data Error!
                </div>
              </div>

              <div class="d-flex justify-content-end">
                <button *ngIf="isBack" mat-button (click)="isDoor(1, 2, stepper)">Back</button>
                <button *ngIf="isNext" mat-button (click)="isDoor(3, 2, stepper)">Next</button>
              </div>
            </mat-step>

            <mat-step [aria-labelledby]="stepDisabled ? 'disabled_Resi' : null" [stepControl]="3">
              <ng-template matStepLabel>Print Transaction {{i + 1}}</ng-template>

              <div id="print-section" class="container-fluid">
                <img src="assets/svgs/logo-blue.svg" class="mb-3" alt="img-thumbnail">
                <p class="h6 text-center">Bukti Transaksi</p>
                <div *ngFor="let item of env.controls | keyvalue" class="form-group row mb-0">
                  <label
                    class="col-sm-2 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ item.key }}
                    :</label>
                  <div class="col-sm-10">
                    <label class="form-control-plaintext">{{ item.value.value }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <button (click)="print()" class="print-button"><span class="print-icon"></span></button>
                <button (click)="done()" mat-button matStepperNext>Next</button>
              </div>
            </mat-step>

            <mat-step [aria-labelledby]="stepDisabled ? 'disabled_Resi' : null">
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
            </mat-step>
          </mat-vertical-stepper>

          <div class="d-flex justify-content-center">
            <!-- <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button> -->
          </div>
        </mat-step>
      </ng-container>
    </mat-horizontal-stepper>
  </form>



</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
  <div class="container-fluid justify-content-between d-flex m-0">
    <button *ngIf="isCancelBtn" class="batal" (click)="cancelQ()" mat-button mat-dialog-close>Batal</button>
    <button *ngIf="isSkipBtn" class="skip" (click)="skipQ()" mat-button mat-dialog-close>Skip</button>
  </div>
  <button *ngIf="isDoneBtn" class="proses" (click)="prosesQ()" mat-button mat-dialog-close>Selesai</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
