<div mat-dialog-title>
  <ul class="container justify-content-center mb-0">
    <li class="list-inline-item row justify-content-center">
      <img id="logoQue" src="./assets/svgs/logo-blue.svg" alt="">
    </li>
    <li class="list-inline-item row justify-content-center">034 - Cabang Utama</li>
    <li class="list-inline-item row justify-content-end align-items-center">
      <i *ngIf="isCloseDialog" (click)="closeQDialog()" id="mini" class="fad fa-layer-minus fa-2x"></i>
    </li>
  </ul>
</div>
<mat-dialog-content class="mat-typography">

  <div class="form-group row mb-0 ml-1 mr-1">
    <label class="col-sm-6 col-form-label font-weight-bold p-0">Date</label>
    <div class="col-sm-6 text-right p-0">
      <label class="font-weight-bold">Time</label>
    </div>
  </div>


  <div class="form-group row mb-0 ml-1 mr-1">
    <label class="col-sm-6 col-form-label font-weight-normal p-0">{{dateNow}}</label>
    <div class="col-sm-6 text-right p-0">
      <label class="font-weight-normal">{{timeNow}}</label>
    </div>
  </div>

  <div class="form-group row ml-1 mr-1 align-items-center main-list pt-2 pb-2">
    <h2 class="h4 mb-0 col-sm-6 col-form-label font-weight-bold p-0 text-left ">Ringkasan Transaksi</h2>
    <h2 class="h4 mb-0 col-sm-6 col-form-label font-weight-bold p-0 text-right">{{ noQ }}</h2>
  </div>

  <div class="row">
    <div class="col-8 col-md-8">
      <p class="h6 ml-1 mr-1">Data Nasabah</p>
      <div class="container-fluid d-flex justify-content-between">
        <div class="col text-center">
          <img [src]="images64()" class="img-thumbnail rounded">
          <p class="text-center font-weight-bold">Foto Nasabah</p>
        </div>
        <div class="col text-center">
          <img [src]="sign64()" alt="..." class="img-thumbnail retangle">
          <p class="text-center font-weight-bold">Tanda Tangan Nasabah</p>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-4 text-center">
      <button class="col-12 btn-nasabah mb-2 mt-2" (click)="fotoNasabahDialog()"><i class="fad fa-plus mr-3"></i><span
          class="align-items-center">Foto
          Nasabah</span></button>
      <button class="col-12 btn-nasabah mb-2 mt-2" (click)="nasabahSignDialog()">SCAN TTD/ Surat Kuasa</button>
    </div>
  </div>

  <div class="form-group row mb-0">
    <label class="col-sm-2 col-form-label font-weight-bold align-items-center d-flex justify-content-between">Nama <span
        class="text-right">:</span></label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext col-6" id="nameName" [(ngModel)]="NAME_CUST">
    </div>
  </div>

  <hr class="m-3">

  <form [formGroup]="formGroup">
    <mat-horizontal-stepper formArrayName="form" #steppers (click)="trigger()">
      <ng-container>
        <mat-step [aria-labelledby]="stepDisabledHorizontal ? 'disabled_Hori' : null" [completed]="true"
          [formGroupName]="i" *ngFor="let env of formGroup.controls.form.controls;let i = index">
          <ng-container *ngFor="let a of env.controls | keyvalue ; ">
            <ng-template *ngIf="a.key === 'tp'" matStepLabel>
              {{a.value.value | valuecustom}}
            </ng-template>
          </ng-container>

          <mat-vertical-stepper [linear]="isLinear" #stepper>

            <!-- STEP 1 -->
            <mat-step [aria-labelledby]="stepDisabled ? 'disabled_Resi' : null" [stepControl]="1">
              <!-- <ng-template matStepLabel>Cek Transaksi</ng-template> -->

              <ng-container *ngFor="let a of env.controls | keyvalue">
                <ng-container *ngIf="a.key != 'TransaksiId' && a.key != 'tp' && a.key != 'cd'">

                  <div [ngSwitch]="a.key">
                    <div *ngSwitchCase="'nm'" class="form-group row">
                      <label
                        class="col-sm-3 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ a.key | titlecustom}}
                        <span class="text-right">:</span></label>
                      <div class="col-sm-9">
                        <input currencyMask type="text" class="form-control-plaintext col-6"
                          formControlName="{{ a.key }}">
                      </div>
                    </div>
                    <div *ngSwitchCase="'py'" class="form-group row">
                      <label
                        class="col-sm-3 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ a.key | titlecustom}}
                        <span class="text-right">:</span></label>
                      <div class="col-sm-9">
                        <select (change)="onChangePayment($event.target.value, i)" class="form-control-plaintext col-6"
                          formControlName="{{ a.key }}">
                          <option *ngFor='let s of menuPayment' [selected]="a.value.value === s.code"
                            [ngValue]="s.code">
                            {{s.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div *ngSwitchCase="'sp'" class="form-group row">
                      <!-- <ng-templat *ngIf="subMenuPay"> -->
                      <label
                        class="col-sm-3 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ a.key | titlecustom}}
                        <span class="text-right">:</span></label>
                      <div class="col-sm-9">
                        <select class="form-control-plaintext col-6" formControlName="{{ a.key }}">
                          <option [ngValue]="0000">placeholder</option>
                          <option *ngFor='let s of subMenuPay' [selected]="a.value.value === s.code" [ngValue]="s.code">
                            {{s.name}}
                          </option>
                        </select>
                      </div>
                      <!-- </ng-templat> -->
                    </div>
                    <div *ngSwitchCase="'tn'" class="form-group row">
                      <label
                        class="col-sm-3 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ a.key | titlecustom}}
                        <span class="text-right">:</span></label>

                      <div class="form-check col-sm-9 align-items-center d-flex">
                        <label class="checkbox-square-bounce mb-0">
                          <input type="checkbox" formControlName="{{ a.key }}" />
                          <span class="track thumb"></span>
                          <pre class="state">false</pre>
                        </label>
                      </div>
                    </div>
                    <div *ngSwitchDefault class="form-group row">
                      <label
                        class="col-sm-3 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ a.key | titlecustom}}
                        <span class="text-right">:</span></label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control-plaintext col-6" formControlName="{{ a.key }}">
                      </div>
                    </div>
                  </div>

                </ng-container>
              </ng-container>

              <div class="d-flex justify-content-between">
                <button (click)="transactionCancel(i, stepper)" mat-button>Batal</button>
                <!-- step one button proses -->
                <button (click)="transactionProcess(i, stepper)" mat-button>Proses</button>
              </div>
            </mat-step>


            <!-- STEP 2 -->
            <mat-step [aria-labelledby]="stepDisabled ? 'disabled_Resi' : null" [stepControl]="2">
              <!-- <ng-template matStepLabel>Otorisasi / Override Head Teller</ng-template> -->

              <!-- <mat-drawer-container class="example-container" autosize> -->
              <div class="container-fluid mb-3 mt-3">
                <p class="h6 text-center">Transaksi Otorisasi</p>
                <div *ngFor="let item of env.controls | keyvalue">

                  <ng-container *ngIf="item.key != 'TransaksiId'">

                    <div [ngSwitch]="item.key">
                      <div *ngSwitchCase="'nm'" class="form-group row mb-0">
                        <label
                          class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ item.key | titlecustom }}
                          <span class="text-right">:</span></label>
                        <div class="col-sm-8">
                          <label class="form-control-plaintext">{{ item.value.value | currency:"Rp "}}</label>
                        </div>
                      </div>
                      <div *ngSwitchCase="'tp'" class="form-group row mb-0">
                        <label
                          class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ item.key | titlecustom  }}
                          <span class="text-right">:</span></label>

                        <div class="form-check col-sm-8 align-items-center d-flex">
                          <label class="form-control-plaintext">{{ item.value.value | valuecustom }}</label>
                        </div>
                      </div>
                      <div *ngSwitchDefault class="form-group row mb-0">
                        <label
                          class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ item.key | titlecustom  }}
                          <span class="text-right">:</span></label>
                        <div class="col-sm-8">
                          <label class="form-control-plaintext">{{ item.value.value }}
                          </label>
                        </div>
                      </div>
                    </div>

                  </ng-container>
                </div>
              </div>

              <div *ngIf="isSelectHeadTeller" class="d-flex justify-content-center">
                <mat-form-field class="container-fluid col-sm-6">
                  <mat-label>Pilih Head Teller</mat-label>
                  <mat-select (selectionChange)="onSelectValueChangeHeadTeller($event.value)">
                    <mat-option *ngFor="let nm of nameHead | keyvalue" [value]="nm.value">
                      {{nm.value.firstname}} {{nm.value.lastname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="d-flex justify-content-center">
                <mat-card *ngIf="isRejectTeller" (click)="onReject(i)" align="center" class="m-2 btn-card"><i
                    class="fad fa-trash-undo fa-3x"></i>
                  <p>Reject</p>
                </mat-card>
                <mat-card *ngIf="isHeadTeller" (click)="onOtorisation(i, stepper)" align="center" class="m-2 btn-card">
                  <i class="fad fa-user-shield fa-3x"></i>
                  <p>Otorisasi</p>
                </mat-card>
                <mat-card *ngIf="isHeadTeller" id="now-section" (click)="onOverride(i, stepper)" align="center"
                  class="m-2 btn-card">
                  <i class="fad fa-fingerprint fa-3x"></i>
                  <p>Override</p>
                </mat-card>
              </div>

              <!-- <ng-template #viewContainerRef></ng-template> -->

              <div *ngIf="isWaiting" class="row alert alert-info d-flex align-items-center" role="alert"
                style="min-height: 100px;">
                <h1 class="alert-heading col-12 mb-0"> <i class="fad fa-spinner"></i> Sedang menunggu
                  konfirmasi otorisasi!
                </h1>
                <div class="col-12 d-flex justify-content-between">
                  <h3 class="mr-3">Mohon tunggu sampai di konfirmasi kembali oleh Supervisor.
                  </h3>
                  <div class="LoaderBalls">
                    <div class="LoaderBalls__item"></div>
                    <div class="LoaderBalls__item"></div>
                    <div class="LoaderBalls__item"></div>
                  </div>
                </div>
              </div>

              <div *ngIf="isRejected" class="row alert alert-danger d-flex align-items-center" role="alert"
                style="min-height: 100px;">
                <h1 class="alert-heading col-12 mb-0"> <i class="fad fa-exclamation-triangle"></i> Data ditolak oleh
                  Supervisor!
                </h1>
                <h3 class="col-12">Mohon reject data terlebih dahulu untuk melakukan transaksi lain.</h3>
              </div>

              <div *ngIf="isApproved" class="row alert alert-success d-flex align-items-center" role="alert"
                style="min-height: 100px;">
                <h1 class="alert-heading col-12 mb-2"> <i class="fad fa-shield-check"></i> Data telah di
                  setujui!
                </h1>
                <h3 class="col-12 mb-0">Data transaksi ini telah disetujui oleh Supervisor anda.</h3>
                <h3 class="col-12">Klik "Lanjutkan" untuk ke langkah selanjutnya.</h3>
              </div>

              <div class="row justify-content-center">
                <button *ngIf="isRejected" (click)="btnOK(i)" class="btn btn-ls">REJECT</button>
                <button *ngIf="isApproved" (click)="stepper.next()" class="btn btn-ls">Lanjutkan</button>
                <!-- <button *ngIf="isProsses" (click)="btnOK(i)" class="btn btn-ls">OTHER TRANSACTION</button> -->
              </div>

              <div *ngIf="isPreview" class="d-flex justify-content-end">
                <button (click)="backStep(stepper)" mat-button>Back</button>
              </div>
            </mat-step>

            <!-- STEP 3 -->
            <mat-step [aria-labelledby]="stepDisabled ? 'disabled_Resi' : null" [stepControl]="3">
              <!-- <ng-template matStepLabel>Otorisasi Transaksi Nasabah</ng-template> -->

              <div class="container">
                <div class="row mt-3 mb-5">
                  <div class="col-sm">
                    <div class="card">
                      <div id="card-swap" class="card-body justify-content-center d-flex">
                        <img (click)="onSwapCard()" src="assets/svgs/swip-card.svg" alt="">
                      </div>
                      <div class="card-footer text-muted">
                        <p class="card-text text-center mb-0">Gesek Kartu Nasabah</p>
                        <p
                          class="card-text text-center text-info align-items-center d-flex justify-content-center font-italic">
                          <span *ngIf="isCardNumber">{{ cardNum }}</span></p>
                      </div>
                    </div>
                  </div>
                  <i class="fad fa-chevron-right fa-4x align-items-center d-flex"></i>
                  <div class="col-sm">
                    <div class="card">
                      <div id="input-pin" class="card-body justify-content-center align-items-center d-flex">
                        <ng-otp-input id="inpfoc" *ngIf="isInputPin"
                          class="row d-flex align-items-center justify-content-center"
                          (onInputChange)="onOtpChange($event, stepper, i)" [config]="config" #ngOtpInput>
                        </ng-otp-input>
                      </div>
                      <div class="card-footer text-muted">
                        <p class="card-text text-center mb-0">Masukan PIN</p>
                        <p class="card-text text-center align-items-center d-flex justify-content-center font-italic">
                          <span class="text-danger" *ngIf="isPinMessageError">{{ pinMessage }}</span>
                          <span class="text-info" *ngIf="isPinMessageSuccess">{{ pinMessage }}</span></p>
                      </div>
                    </div>
                  </div>
                  <i class="fad fa-chevron-right fa-4x align-items-center d-flex"></i>
                  <div class="col-sm">
                    <div class="card">
                      <div id="scan-finger" class="card-body justify-content-center d-flex">
                        <img (click)="callFingerVerify()" *ngIf="isScanFinger" src="assets/svgs/scan-finger-ic.svg"
                          alt="">
                      </div>
                      <div class="card-footer text-muted">
                        <p class="card-text text-center mb-0">Scan Sidik Jari Nasabah</p>
                        <p class="card-text text-center align-items-center d-flex justify-content-center font-italic">
                          <span class="text-danger" *ngIf="isFingerError">{{ fingerMessage }}</span>
                          <span class="text-info" *ngIf="isFingerSuccess">{{ fingerMessage }}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button mat-button matStepperNext>Next</button> -->
            </mat-step>

            <!-- STEP 4 -->
            <mat-step [aria-labelledby]="stepDisabled ? 'disabled_Resi' : null" [stepControl]="4">
              <ng-template matStepLabel>Hasil Transaksi</ng-template>

              <div *ngIf="isDisplayPrint" id="print-section" class="container-fluid  mt-3">
                <div class="row justify-content-center">
                  <img src="assets/svgs/logo-blue.svg" class="mb-3" alt="img-thumbnail">
                </div>
                <p class="h6 text-center">Bukti Transaksi</p>
                <div *ngFor="let it of dataSuccess | keyvalue">

                  <div *ngIf="conv(it.value, i)">
                    <!-- <div *ngIf="i"> -->
                    <!-- CONV BISA -->
                    <div *ngFor="let v of cek(it.value) | keyvalue">
                      <!-- CEK BISA -->
                      <div [ngSwitch]="v.key">

                        <div *ngSwitchCase="'wstype'" class="form-group row mb-0">
                          <label
                            class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">
                            {{ v.key | titlecustom2 }}
                            <span class="text-right">:</span></label>
                          <div class="col-sm-8">
                            <label class="form-control-plaintext">{{ v.value | valuecustom}}</label>
                          </div>
                        </div>
                        <div *ngSwitchCase="'wsnomn'" class="form-group row mb-0">
                          <label
                            class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">
                            {{ v.key | titlecustom2 }}
                            <span class="text-right">:</span></label>
                          <div class="col-sm-8">
                            <label class="form-control-plaintext">{{ v.value | currency:"Rp " }}</label>
                          </div>
                        </div>

                        <div *ngSwitchDefault class="form-group row mb-0">
                          <label
                            class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">
                            {{ v.key | titlecustom2 }}
                            <span class="text-right">:</span></label>
                          <div class="col-sm-8">
                            <label class="form-control-plaintext">{{ v.value }}</label>
                          </div>
                        </div>

                      </div>


                    </div>

                  </div>

                  <!-- <ng-container *ngIf="item.key != 'TransaksiId'">

                    <div [ngSwitch]="item.key">
                      <div *ngSwitchCase="'nm'" class="form-group row mb-0">
                        <label
                          class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ item.key | titlecustom }}
                          <span class="text-right">:</span></label>
                        <div class="col-sm-8">
                          <label class="form-control-plaintext">{{ item.value.value | currency:"Rp "}}</label>
                        </div>
                      </div>
                      <div *ngSwitchCase="'tp'" class="form-group row mb-0">
                        <label
                          class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ item.key | titlecustom  }}
                          <span class="text-right">:</span></label>

                        <div class="form-check col-sm-8 align-items-center d-flex">
                          <label class="form-control-plaintext">{{ item.value.value | valuecustom }}</label>
                        </div>
                      </div>
                      <div *ngSwitchCase="'py'" class="form-group row mb-0">
                        <label
                          class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ item.key | titlecustom  }}
                          <span class="text-right">:</span></label>

                        <div class="form-check col-sm-8 align-items-center d-flex">
                          <label class="form-control-plaintext">{{ item.key | paymentcustom: item.value.value }}</label>
                        </div>
                      </div>

                      <div *ngSwitchCase="'sp'" class="form-group row mb-0">
                        <label
                          class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ item.key | titlecustom  }}
                          <span class="text-right">:</span></label>

                        <div class="form-check col-sm-8 align-items-center d-flex">
                          <label class="form-control-plaintext">{{ item.key | paymentcustom: item.value.value }}</label>
                        </div>
                      </div>
                      <div *ngSwitchDefault class="form-group row mb-0">
                        <label
                          class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">{{ item.key | titlecustom  }}
                          <span class="text-right">:</span></label>
                        <div class="col-sm-8">
                          <label class="form-control-plaintext">{{ item.value.value }}
                          </label>
                        </div>
                      </div>
                    </div>

                  </ng-container> -->

                </div>
              </div>

              <div *ngIf="isDisplayPrintSaldo" id="print-section" class="container-fluid  mt-3">
                <div class="row justify-content-center">
                  <img src="assets/svgs/logo-blue.svg" class="mb-3" alt="img-thumbnail">
                </div>
                <p class="h6 text-center">Bukti Transaksi</p>

                <ng-container>
                  <div class="form-group row">
                    <label
                      class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">Nama
                      <span class="text-right">:</span></label>
                    <div class="col-sm-8">
                      <label class="form-control-plaintext">{{saldoData.wbtrbf.wsname}}</label>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label
                      class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">No
                      Rekening
                      <span class="text-right">:</span></label>
                    <div class="form-check col-sm-8 align-items-center d-flex">
                      <label class="form-control-plaintext">{{saldoData.wbtrbf.wsfrom}}</label>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label
                      class="col-sm-4 col-form-label font-weight-bold align-items-center d-flex justify-content-between">Saldo
                      <span class="text-right">:</span></label>
                    <div class="form-check col-sm-8 align-items-center d-flex">
                      <label class="form-control-plaintext">{{saldoData.wbtrbf.wsblav | currency:"Rp "}}</label>
                    </div>
                  </div>

                </ng-container>

              </div>

              <div class="container-fluid align-items-center">
                <div class="row justify-content-center">
                  <img src="assets/png/print.png" alt="">
                </div>
                <div class="row justify-content-center">
                  <button mat-button (click)="print()" class="print-button">Print</button>
                </div>
                <!-- <button (click)="done()" mat-button matStepperNext>Next</button> -->
              </div>
            </mat-step>

            <!-- STEP 5 -->
            <!-- <mat-step [aria-labelledby]="stepDisabled ? 'disabled_Resi' : null">
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
            </mat-step> -->
          </mat-vertical-stepper>

          <div class="d-flex justify-content-center">
            <!-- <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button> -->
          </div>
        </mat-step>
      </ng-container>
    </mat-horizontal-stepper>
  </form>



</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
  <div class="container-fluid justify-content-center d-flex m-0 mb-3">
    <button *ngIf="isCancelBtn" class="batal" (click)="cancelQ()" mat-button mat-dialog-close>Batal</button>
    <button *ngIf="isSkipBtn" class="skip" (click)="skipQ()" mat-button mat-dialog-close>Selanjutnya</button>
  </div>
  <button *ngIf="isDoneBtn" class="proses" (click)="prosesQ()" mat-button mat-dialog-close>Selesai</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
