<div id="login" class="container-fluid h-100 justify-content-center p-0">
  <div class="col d-flex justify-content-center">
    <div class="col-sm-8">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 class="display-1 mb-5">Web-Branch</h1>
        <div class="form-group col-4">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" id="username" aria-describedby="text" formControlName="username">
        </div>
        <div *ngIf="false" class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
        </div>
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-4">
      <img src="../../assets/svgs/logo-blue.svg" alt="">
    </div>
    <div>
      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
    </div>
   
  </form>
</div>
</div>
