<div class="row">
  <div class="col-12">
    <h1 class="display-4">Otorisasi Request Head Customer Service</h1>
  </div>
  <!-- <div class="col-6 col-md-4 d-flex align-items-center justify-content-end">
      <div class="input-search ml-3 mr-3">
        <input id="search" type="text" placeholder="Search . . ." required> -->
  <!-- <input matInput (keyup)="applyFilter($event)" id="search" type="text" placeholder="Search . . ." required> -->
  <!-- </div> -->
  <!-- </div> -->
</div>

<div class="row mb-3">
  <div class="col-12 col-md-8">
    <p class="h3">Daftar Transaksi Otorisasi</p>
  </div>
  <div class="col-6 col-md-4 d-flex align-items-center justify-content-end">
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="teller">
      <th mat-header-cell *matHeaderCellDef> Nama CS </th>
      <td mat-cell *matCellDef="let element"> {{element.userterminal}} </td>
    </ng-container>

    <ng-container matColumnDef="transacId">
      <th mat-header-cell *matHeaderCellDef> Transaksi ID </th>
      <td mat-cell *matCellDef="let element"> {{element.transid}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Waktu </th>
      <td mat-cell *matCellDef="let element"> {{element.timeStampValidation}} </td>
    </ng-container>

    <ng-container matColumnDef="term">
      <th mat-header-cell *matHeaderCellDef> Terminal Id </th>
      <td mat-cell *matCellDef="let element"> {{element.terminalid}} </td>
    </ng-container>


    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="MainFunction(element, '1')"><i
            class="fad fa-info-circle fa-2x text-info"></i></button>
        <button mat-button (click)="MainFunction(element, '3')"><i
            class="fad fa-fingerprint fa-2x text-primary"></i></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
