<mat-dialog-content>

  <ng-lottie [options]="options" (animationCreated)="animationCreated($event)">
  </ng-lottie>

  <p class="text-center"><strong> Konfirmasi Rejected</strong></p>
  <p class="text-center"><strong>Reject Transaksi Ini...?</strong></p>

</mat-dialog-content>

<mat-dialog-actions class="justify-content-center">
  <div class="button_cont">
    <!-- <button mat-raised-button color="warn" (click)="rejected()">Ya</button> -->
    <button mat-raised-button color="primary" (click)="close()">Batal</button>
  </div>
</mat-dialog-actions>